*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.left h2{
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  color: #2a4869;
}
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
            /* navbar */
#header{
    background-color: black;
    padding: 0px 30px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.list{
    display: flex;
    gap: 50px;
    list-style: none;
}
.list li a{
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
    position: relative;
}
h1{
    color: white;
    margin-bottom: 5px;
}
#nav span{
    color: #5A7BA1;
    font-size: 35px;
    font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.list li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5A7BA1;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
.list li a:hover::after{
    width: 100%;
}
     /* main-section */
.main{
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    min-height: 100px;
}
.profile-img{
      min-height: 440px;
      max-width: 100%;
      border-radius: 15px;
}
#image1 {
  height: 280px;
  width: 280px;
  object-fit: cover;
  border-radius: 50%;
}

button{
    width: 10rem;
    height: 55px;
    margin-top: 20px;
    background-color:#5A7BA1;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 15px;
}
button:hover {
    background-color: #3B5A81;
    cursor: pointer;
    transition: 0.3s;
}
.left h2{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
       /* about-section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
}
.right1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image1{
    border: 2px solid #758EB7;
    border-radius: 50%;
}
.right1 h3{
    margin-top: 20px;
    font-size: 50px;
}
#let{
    text-align: center;
    margin-top: 20px;
}
      /* card-section */
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cards .text{
    margin-top: 20px;
    font-size: 30px;
}
.card-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 40vh 40vh;
   gap:50px;
   margin: 20px 50px;
}
.cards{
    background:linear-gradient(135deg,rgb(127, 178, 196),rgb(155, 104, 196), rgb(41, 127, 177));
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    color: white;
}
.cards p{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.text{
    font-weight:500;
    font-size:80;
}
.tag-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    min-width: 80%;
    margin-top: 10px;
}
.tags{
    background:white;
    width: 100px;
    border: 2px solid #3b7f8b;
    border-radius: 15px;
    max-height: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    color: #498c99;
    font-weight: 400;
    overflow: hidden;
}
.cards:hover{
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
/* Skill & Education */
.skills{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left2 .box{
    color: white;
    padding: 20px;
    width: 50%;
}
.left2 .box .inner-box{
    background: rgb(65, 135, 158);
    padding: 30px;
    border-radius: 15px;
}
.left2{
    position: relative;
}
.left2 .right{
    position: relative;
    left: 50%;
    margin-left: 10px;
}
.left2::after{
    content: "";
    width: 10px;
    height: 92%;
    position: absolute;
    background: rgb(163, 99, 163);
    left: 50%;
    top: 8%;
    border-radius: 20px;
}
.inner-box{
    position: relative;
}

.skillset ul{
    list-style: none;
}
.skillset{
    padding: 50px;
}
.left2 .box::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgb(65, 135, 158);
  background:white;
  position: absolute;
  border-radius: 50%;
  top: 20%;
  z-index: 1;
}
.left{
    position: relative;
    left: 0;
}

.left2 .left::after {
  right: -16px;
}

.left2 .right::after {
  left: -17px;
}
.left2 .box::before{
    content: "";
    position: absolute;
    border: 10px solid;
    z-index: 1;
    top: 20%;
}
.left2 .box.left::before{
    right: 1px;
    border-color: transparent transparent transparent rgb(65, 135, 158);
}
.left2 .box.right::before{
    border-color: transparent rgb(65, 135, 158) transparent transparent;
    left: 1px;
}
.right2 .skillset h3{
    text-align: center;
    color: rgb(167, 78, 167);
}
.right2 h2, .left2 h2{
    text-align: center;
}
.skillset ul li span{
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 10px;
}
.skillset ul li span::before{
    content: "";
    position: absolute;
    background-color: rgb(98, 171, 196);
    height: 100%;
    border-radius: 5px;
    animation: progress 2s ease-out 1;
}
.skillset ul li .p-60::before{
    width: 60%;
}
.skillset ul li .p-70::before{
    width: 70%;
}
.skillset ul li .p-75::before{
    width: 75%;
}
.skillset ul li .p-80::before{
    width: 80%;
}
.skillset ul li .p-85::before{
    width: 85%;
}
.skillset ul li .p-55::before{
    width: 55%;
}
.skillset ul li .p-75::before{
    width: 75%;
}
@keyframes progress{
    from{
        width: 0;
    }
}
/* contactact-section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #448dc9, #ac63dd);
    border-radius: 20px;
    color: white;
    width: 400px;
    min-height: 500px;
}
.contact-container h2{
   margin-bottom: 20px;
}

.form input{
    width: 100%; 
    padding: 6px; 
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
}
.submit{
    margin-left: 10px;
    width: 200px;
    height: 50px;
    background:linear-gradient(135deg, #448dc9, #ac63dd);
}
             /* Media Queriy */
@media  (max-width:1024px) {
    body{
        width: 100%;
    }
    .main .right img {
    max-width: 100%;
    height: auto;
    height: 400px;
    }
    .about{
        text-align: center;
    }

}
@media  (min-width:1024px){
    .card{
        overflow-x: hidden;
    }
}
@media (max-width:768px){
    body{
        width: 100%;
    }
    .cards .text{
    margin-top: 10px;
    font-size: 30px;
    }
    .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,50vh);
    }
    .skillset{
    padding: 80px;
    }
    .list{
        gap: 10px;
    }
    .skills{
        grid-template-columns: 1fr;
    }
    .right2 h2{
        margin-top: 40px;
    }
    .cards{
        justify-content: center;
    }
    

}
@media (max-width:580px){
    body{
        width: 100%;
    }
    #nav{
        justify-content: center;
        gap: 20px;
        padding: 0px 10px;
    }
    .about{
        flex-wrap: wrap;
    }
    .list li a{
        font-size: 18px;
    }
    .list ul{
        gap:10px
    }
    #nav h1,#nav span{
        font-weight: 300;
    }
    #nav{
        width: 100%;
    }
    .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,40vh);
    }
    .cards{
        justify-content: center;
    }
}

@media (max-width: 530px) {
    body{
        width: 100%;
    }
  .list {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  #nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  
}
 @media (max-width:480px){
    .contact{
        justify-content: flex-start;
    }
    .card-container{
        grid-template-rows: repeat(4,40vh);
    }
    #image1{
        width: 150px;
    }
    .contact-container{
        width: 250px;
    }
    .title{
        width: 100%;
    }
    .card-container{
        margin: 2px 10px;
    }
    
    .left h2{
        font-size: 30px;
    }
    .left button{
    width: 10rem;
    height: 50px;
    font-size: 15px;
    }
 }
